
[tool.poetry]
name = "protarrow"
version = "0.0.0"
description = "Convert from protobuf to arrow and back"
authors = ["Tradewell Tech <engineering@tradewelltech.co>"]
maintainers = ["0x26res <0x26res@gmail.com>"]
packages = [
    { include = "protarrow" }
]
readme = "README.md"
license = "Apache-2.0"
repository = "https://github.com/tradewelltech/protarrow"
documentation = "https://protarrow.readthedocs.io/en/latest/"
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: Apache Software License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
keywords = ["apache-arrow", "protobuf", "data"]

[tool.poetry.dependencies]
googleapis-common-protos = ">=1.53.0"
protobuf = ">=3.20.1"
pyarrow = ">=12.0.0"
python = ">=3.8,<3.12"

[tool.poetry.group.dev.dependencies]
Jinja2 = ">=3.1.2"
black = ">=22.10.0"
coverage = ">=6.5.0"
flake8 = ">=5.0.4"
git-changelog = ">=2.2.0"
grpcio-tools = ">=1.46.0"
inflection = ">=0.5.1"
isort = ">=5.10.1"
mkdocs = ">=1.4.2"
mkdocs-material = ">=9.0.3"
mkdocstrings = { version = ">=0.21.2", extras = ["python"] }
pip-tools = ">=6.12.1"
pre-commit = ">=2.20.0"
pylint = ">=2.15.0"
pytest = ">=7.2.0"
pytest-benchmark = ">=4.0.0"
pytest-xdist = ">=3.1.0"


[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.black]
target-version =  ["py39"]
exclude = "venv/|tox/|protarrow_protos/.*"

[tool.isort]
profile = "black"
src_paths = ["protarrow", "tests"]
known_first_party = ["protarrow", "protarrow_protos" ]
skip = [".gitignore"]

[tool.bandit]
skips = ["B101", "B311"]

[tool.poetry-dynamic-versioning]
enable = true

[tool.poetry-dynamic-versioning.substitution]
files = ["*/__init__.py"]
folders = [ {path = "protarrow"}]
