name: protarrow CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
      fail-fast: false
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          # Install a specific version of uv.
          version: "0.9.6"
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: |
          uv run python scripts/protoc.py protarrow_protos
          uv run pytest \
            --numprocesses=auto \
            --benchmark-disable \
            --cov=protarrow \
            --cov-report=xml \
            --cov-branch \
            ./tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        if: "matrix.python-version == '3.12'"
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run pre-commit
        if: "matrix.python-version == '3.12'"
        run: |
          uv run pre-commit run --all-files
